{% extends 'base.html.twig' %}

{% block title %}Edit EnergyOption{% endblock %}

{% block body %}
    <h1>Edit EnergyOption</h1>

    {{ include('energy_option/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
