{% extends 'base.html.twig' %}

{% block title %}Nouveau carburant{% endblock %}

{% block body %}
    <h1>Ajout d'un nouveau carburant</h1>

    {{ include('energy_option/_form.html.twig') }}
{% endblock %}
