<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-copyright">
					<p>© {{ 'now' | date('Y') }} Copyright Mickael NOEL</p>
                    <p>Tous droits réservés</p>
				</div>
			</div>
		</div>
	</div>
</footer>
